{% extends '_base.html' %}

<!-- Static files django label -->
{% load static %}

<!-- this page specific styles -->
{% block style %}
    <link rel="stylesheet" href="{% static 'css/compiled/user-list.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block title %} Prontuários a Realizar {% endblock %}

{% block active-sequences %} class="active" {% endblock %}

{% block content %}
    <div id="pad-wrapper" class="users-list">
        <div class="row header">
            <h3>Consultas</h3>
            <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
                <form class="form-horizontal" role="form" action="{% url 'sequences' %}" method="get">
                    {% csrf_token %}
                    <input type="text" class="col-md-5 search" name="search" placeholder="Digite o Codigo ...">
                </form>
                {% if auth_user.role == 'admin' or auth_user.role == 'office'  %}
                    <a href="{% url 'create_sequence' %}" class="btn-flat success pull-right">
                        <span>&#43;</span>
                        NOVA CONSULTA 
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- Treatment Sequences table -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">
                                Codigo
                            </th>
                            <th class="col-md-1">
                                <span class="line"></span>Data
                            </th>
                            <th class="col-md-1">
                                <span class="line"></span>Horário
                            </th>
                            <th class="col-md-3">
                                <span class="line"></span>Doutor
                            </th>
                            <th class="col-md-3">
                                <span class="line"></span>Paciente
                            </th>
                            <th class="col-md-1">
                                <span class="line"></span>Situação
                            </th>
                            <th class="col-md-2">
                                <span class="line"></span>Ação
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- row -->
                    {% if sequences != None %}
                        {% for sequence in sequences %}
                            <tr class="first">
                                <td>
                                    <a class="name">{{ sequence.code }}</a>
                                </td>
                                <td>
                                    {{ sequence.date }}
                                </td>
                                <td>
                                    {{ sequence.shift|capfirst }}
                                </td>
                                <td>
                                    {{ sequence.doctor_name }}
                                </td>
                                <td>
                                    {{ sequence.patient_name }}
                                </td>
                                <td>
                                    {% if sequence.status == 0 %}<span class="label label-danger">Cancelado</span>{% endif %}
                                    {% if sequence.status == 1 %}<span class="label label-info">Aberto</span>{% endif %}
                                    {% if sequence.status == 2 %}<span class="label label-warning">Em Andamento</span>{% endif %}
                                    {% if sequence.status == 3 %}<span class="label label-success">Fechado</span>{% endif %}
                                </td>
                                <td>
                                    {% if sequence.status == 1 or sequence.status == 2 %}
                                        {% if auth_user.role == 'admin' or auth_user.role == 'doctor'  %}
                                            <a class="btn-glow primary" href="{% url 'process_sequence' sequence.code %}">Consultar</a>
                                            &nbsp;
                                        {% endif %}
                                    {% endif %}
                                    {% if sequence.status == 1 %}
                                        {% if auth_user.role == 'admin' or auth_user.role == 'office'  %}
                                            <a class="btn-glow label-danger" href="{% url 'cancel_sequence' sequence.code %}">Cancelar</a>
                                            &nbsp;
                                        {% endif %}
                                    {% endif %}
                                    {% if sequence.status == 3 %}
                                        {% if auth_user.role == 'admin' or auth_user.role == 'office'  %}
                                            <a class="btn-glow" href="{% url 'invoice_sequence' sequence.code %}">Pagamentos</a>
                                            &nbsp;
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="first">
                            <td colspan="5">Não há Registro</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end sequences table -->
        {% if sequences != None %}
            <!-- Paginator -->
            <ul class="pagination pull-right">
                {% if pages.has_previous %}
                    <li><a href="?page={{ pages.previous_page_number }}">&#8249;</a></li>
                {% endif %}
                <li class="active"><a>Pagina {{ pages.number }} de {{ pages.paginator.num_pages }}.</a></li>
                {% if pages.has_next %}
                    <li><a href="?page={{ pages.next_page_number }}">&#8250;</a></li>
                {% endif %}
            </ul>
            <!-- End paginator -->
        {% endif %}
    </div>
{% endblock %}
