{% extends '_base.html' %}

<!-- Static files django label -->
{% load static %}

<!-- this page specific styles -->
{% block style %}
    <link rel="stylesheet" href="{% static 'css/compiled/user-list.css' %}" type="text/css" media="screen" />
    <style>a.name {
        margin: 0px 0 0 0!important;
    }
    /* .col-md-5{
    border-color: grey;
    border-radius: 18px!important}
    .titulo{
    margin-left: 23px;} */


    </style>
{% endblock %}

{% block title %} Lista Pacientes {% endblock %}

{% block active-patients %} class="active" {% endblock %}

{% block content %}
    <div id="pad-wrapper" class="users-list">
        <h3 class="text-center p-3  badge badge-secondary">Pacientes</h3>
        <div class="row header">
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                <form class="mt-4 mb-4 form-horizontal" role="form" action="{% url 'patients' %}" method="get">
                    {% csrf_token %}
                    <input type="text" class="col-md-5 search" name="search" placeholder="Digite o nome do Paciente...">
                    <i style="font-size: 30px;vertical-align: middle;padding: 8px;color: #32373dc4;" class="icon-search"></i>
                          {% if auth_user.role == 'admin' or auth_user.role == 'office'  %}
                    <a href="{% url 'create_patient' %}" class="btn-flat success pull-right">
                        <span>&#43;</span>
                        NOVO PACIENTE
                    </a>
                {% endif %}
                </form>
            </div>
        </div>
        <!-- Patients table -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">
                                CPF
                            </th>
                            <th class="col-md-2">
                                <span class="line"></span>Nome
                            </th>
                            <th class="col-md-2">
                                <span class="line"></span>Email
                            </th>
                            <th class="col-md-2">
                                <span class="line"></span>Telefone
                            </th>
                            <th class="col-md-3">
                                <span class="line"></span>Endereço
                            </th>
                            <th class="col-md-2">
                                <span class="line"></span>Ação
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- row -->
                    {% if patients != None %}
                        {% for patient in patients %}
                            <tr class="first">
                                <td>
                                    <a class="name">{{ patient.dni }}</a>
                                </td>
                                <td>
                                    {{ patient.name }}
                                </td>
                                <td>
                                    <a href="mailto:{{ patient.email }}">{{ patient.email }}</a>
                                </td>
                                <td>
                                    {{ patient.phone }}
                                </td>
                                <td>
                                    {{ patient.address }}
                                </td>
                                <td>
                                    {% if auth_user.role == 'admin' or auth_user.role == 'doctor'  %}
                                        <i class="icon-user-md"></i>
                                        <a href="{% url 'check_patient' patient.dni %}">Prontuário</a><br>
                                    {% endif %}

                                    {% if auth_user.role == 'admin' or auth_user.role == 'office'  %}
                                        <i class="icon-edit-sign"></i>
                                        <a href="{% url 'edit_patient' patient.dni %}">Editar</a><br>
                                        <i class="icon-trash"></i>
                                        <a href="{% url 'delete_patient' patient.dni %}">Deletar</a>
                                        &nbsp;
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="first">
                            <td colspan="6">Não há Registro</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end patients table -->
        {% if patients != None %}
            <!-- Paginator -->
            <ul class="pagination pull-right">
                {% if pages.has_previous %}
                    <li><a href="?page={{ pages.previous_page_number }}">&#8249;</a></li>
                {% endif %}
                <li class="active"><a>Pagina {{ pages.number }} de {{ pages.paginator.num_pages }}.</a></li>
                {% if pages.has_next %}
                    <li><a href="?page={{ pages.next_page_number }}">&#8250;</a></li>
                {% endif %}
            </ul>
            <!-- End paginator -->
        {% endif %}
    </div>
{% endblock %}
