{% extends '_base.html' %}

<!-- Static files django label -->
{% load static %}

<!-- this page specific styles -->
{% block style %}
    <link rel="stylesheet" href="{% static 'css/compiled/new-user.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block title %} Editar Tratamento {% endblock %}

{% block active-treatments %} class="active" {% endblock %}

{% block content %}
    <div id="pad-wrapper" class="new-user">
        <div class="row header">
            <div class="col-md-offset-4 col-md-4">
                <h3 class="text-center">Editar Tratamento</h3>
            </div>
        </div>
        <div class="row form-wrapper">
            <div class="col-md-offset-2 col-md-8">
                <form class="form-horizontal" role="form" action="{% url 'edit_treatment' treatment.code %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="code" class="col-md-2 control-label">Código</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control inline-input" readonly="readonly" name="code" id="code" placeholder="Código" value="{{ treatment.code }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">Nome</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Nome" value="{{ treatment.name }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-md-2 control-label">Valor</label>
                        <div class="col-md-8">
                          <input type="number" step="0.01" class="form-control" name="price" id="price" placeholder="Valor" value="{{ treatment.price }}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <a href="{% url 'treatments' %}" class="btn-flat success">Voltar</a>
                            <button type="submit" class="btn-glow primary pull-right">Atualizar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
